
@media (max-width: 1076px) {
    .cost-section-button-img {
        bottom: 30px;
        left: -99px;
    }

    .section-cost-button {
        font-size: 8px;
    }

    .cost-section-text-container {
        width: 100%;
        margin: 0 auto;
    }

    .cost-section-title {
        width: 100%;
    }

    .cost-section-main-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cost-section-text-container {
        display: flex;
        text-align: -webkit-center;
        flex-direction: column;
        height: 210px;
        justify-content: space-between;
    }
}

@media (max-width: 820px) {
    .cost-section-title {
        font-size: 24px;
    }

    .cost-section-title-description {
        font-size: 16px;
    }
}

@media (max-width: 787px) {
    .cost-section-button-img {
        bottom: 51px;
        left: -61px;
    }
}

@media (max-width: 642px) {
    .cost-section-text-container {
        height: 280px;
    }
}

@media (max-width: 450px) {
    .cost-section-text-container {
        height: 300px;
    }
}

@media (max-width: 360px) {
    .cost-section-title-description {
        margin-top: 30px;
    }

    .cost-section-text-container {
        height: 360px;
    }
}